@model FATURA
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>FATURA EKLE</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Fatura</a></li>
                    <li class="breadcrumb-item active">Index</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form id="formFatura">
                        <div class="card-body">
                            <div class="form-group">
                       
                                <input type="hidden" asp-for="Abone" />
                                <label for="AboneID">Abone Numarası</label>
                                <select type="text" asp-for="AboneID" data-live-search="true" data-size="5" class="form-control selectpicker" id="AboneID">
                                    <option value="0">Seçiniz...</option>
                                </select>
                                <span asp-validation-for="AboneID"></span>
                            </div>
                            <div class="form-group">
                                <label for="FaturaNo">Fatura Numarası</label>
                                <input type="text" asp-for="FaturaNo" class="form-control" id="FaturaNo">
                                <span asp-validation-for="FaturaNo"></span>
                            </div>
                            <div class="form-group">
                                <label for="FaturaDonemi">Fatura Dönemi</label>
                                <input type="text" asp-for="FaturaDonemi" class="form-control" id="FaturaDonemi">
                                <span asp-validation-for="FaturaDonemi"></span>
                            </div>
                            <div class="form-group">
                                <label for="FaturaTutari">Fatura Tutarı</label>
                                <input type="number" min="0.00" max="10000.00" step="0.01" asp-for="FaturaTutari" class="form-control" id="FaturaTutari">
                                <span asp-validation-for="FaturaTutari"></span>
                            </div>
                            <div class="form-group">
                                <label for="FaturaSonOdemeTarih">Fatura Son Ödeme Tarihi</label>
                                <input type="date" asp-for="FaturaSonOdemeTarih" class="form-control" id="FaturaSonOdemeTarih">
                                <span asp-validation-for="FaturaSonOdemeTarih"></span>
                            </div>
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="button" id="btnKaydet" class="btn btn-primary">Kaydet</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/lib/jquery/jquery.min.js"></script>

<script type="text/javascript">
    var webUrl;
    var kulAd;
    var sifre;

    $(document).ready(function () {
        webUrl = '@ViewBag.webUrl';
        kulAd = '@ViewBag.userName';
        sifre = '@ViewBag.passWord';

        console.log(webUrl);

        Abone_Doldur();
    });

    $("#btnKaydet").click(function () {
        var _url = webUrl + "Fatura/Fatura_Ekle";
        _url += "?kullaniciAd" + kulAd + "&sifre" + sifre;

        var formData = $("#formFatura");
        var _data = JSON.stringify(formData.serializeJSON());

        console.log(_data);

        $.ajax({
            async: false,
            url: _url,
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: _data,
            dataType: 'json',
            success: function (result) {
                if (result.Durum) {
                    alert("Fatura başarıyla eklendi.");
                }
                else {
                    alert("Başarısız işlem.");
                }
            },
            failure: function (er) {
                alert("Hata!!!");
            }
        });
        location.reload();
    });

    function Abone_Doldur() {
        var _url = webUrl + "Abone/Abone_Liste";
        _url += "?kullaniciAd" + kulAd + "&sifre" + sifre;
        $.ajax({
            type: 'GET',
            url: _url,
            data: { kulAd: kulAd, sifre: sifre },
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            async: false,
            success: function (result) {


                if (result.Durum == true) {

                    console.log(result.Liste);

                    for (var j = 0; j < result.Liste.length; j++) {
                        $('#AboneID').append($('<option>', { value: result.Liste[j]["ObjectID"], text: result.Liste[j]["AboneNo"] }));
                    }
                }
                $('#AboneID').selectpicker('refresh');
            },
            failure: function (er) {
            }
        });
    };
</script>