@model FATURA


@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Faturalar</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Fatura</a></li>
                    <li class="breadcrumb-item active">Index</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- /.card -->
                <div class="card">
                    <div class="card-header">
                        <a href="/Admin/Fatura/Ekle" class="card-title btn btn-primary mr-2"><i class="fas fa-plus"></i> Fatura Ekle </a>
                        @* <a class="card-title btn btn-warning mr-2" type="button" data-toggle="modal" data-target="#exampleModal" id="btnDuzenle"><i class="fas fa-minus"></i> Fatura Düzenle </a>*@
                        <a class="card-title btn btn-warning mr-2" type="button" data-toggle="modal" data-target="#exampleModal" id="btnDuzenle"> Fatura Düzenle </a>
                        <a class="card-title btn btn-danger mr-2" type="button" id="btnSil"><i class="fas fa-minus"></i> Fatura Sil </a>
                    </div>
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped" data-toggle="table" data-pagination="false" data-sortable="true"
                               data-single-select="true" data-click-to-select="true" data-sort-class="table-active" data-buttons-class="info">
                            <thead>
                                <tr>
                                    <th data-field="durum" data-checkbox="true"></th>
                                    <th data-field="Abone.AboneNo">Abone numarası</th>
                                    <th data-field="FaturaNo">Fatura numarası</th>
                                    <th data-field="FaturaSonOdemeTarih">Fatura son ödeme tarihi</th>
                                    <th data-field="FaturaDonemi">Fatura dönemi</th>
                                    <th data-field="FaturaTutari">Fatura Tutarı</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Fatura Düzenle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formDuzenleFatura">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ObjectID" />
                    <input type="hidden" asp-for="AboneID" />
                    <div class="form-group">
                        <label asp-for="Abone.AboneNo" class="control-label"></label>
                        <input id="AboneNo" asp-for="Abone.AboneNo" class="form-control" readonly />
                        <span asp-validation-for="Abone.AboneNo" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="FaturaNo" class="control-label"></label>
                        <input asp-for="FaturaNo" class="form-control" readonly />
                        <span asp-validation-for="FaturaNo" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="FaturaSonOdemeTarih" class="control-label"></label>
                        <input asp-for="FaturaSonOdemeTarih" class="form-control" />
                        <span asp-validation-for="FaturaSonOdemeTarih" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FaturaDonemi" class="control-label"></label>
                        <input asp-for="FaturaDonemi" class="form-control" />
                        <span asp-validation-for="FaturaDonemi" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FaturaTutari" class="control-label"></label>
                        <input asp-for="FaturaTutari" class="form-control" />
                        <span asp-validation-for="FaturaTutari" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="button" id="btnDuzenleKaydet" value="Kaydet" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/lib/Jquery-SerializeJSON/jquery.serializejson.js"></script>


<script type="text/javascript">
    var webUrl;
    var kulAd;
    var sifre;

    $(document).ready(function () {
        webUrl = '@ViewBag.webUrl';
        kulAd = "asd";
        sifre = "asd";

        Fatura_Bilgiler();
    });

    function getRowSelections() {
        return $.map($("#example1").bootstrapTable('getSelections'), function (row) {
            return row;
        });
    }

    $('#btnDuzenle').click(function () {
        var selectedRows = getRowSelections();
        var selectedItems;
        $.each(selectedRows, function (index, value) {
            selectedItems = value.ObjectID ;
        });

        var _url = webUrl + "Fatura/Fatura_Getir_Iliskisel";
        _url += "?kullaniciAd=" + kulAd + "&sifre=" + sifre;

        $.ajax({
            type: 'GET',
            url: _url,
            data: { _refID: selectedItems },
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            async: false,
            success: function (result) {
                console.log(result);
                $("#ObjectID").val(result.Nesne.ObjectID);
                $("#AboneID").val(result.Nesne.Abone.ObjectID);
                $("#FaturaNo").val(result.Nesne.FaturaNo);
                $("#AboneNo").val(result.Nesne.Abone.AboneNo);
                $("#FaturaSonOdemeTarih").val(result.Nesne.FaturaSonOdemeTarih);
                $("#FaturaDonemi").val(result.Nesne.FaturaDonemi);
                $("#FaturaTutari").val(result.Nesne.FaturaTutari);
            },
            failure: function (er) {
            }
        });

    });

    $("#btnDuzenleKaydet").click(function () {
        var _url = webUrl + "Fatura/Fatura_Duzenle";
        _url += "?kullaniciAd=" + kulAd + "&sifre=" + sifre;

        var formData = $("#formDuzenleFatura");
        var _data = JSON.stringify(formData.serializeJSON());

        console.log(_data);

        $.ajax({
            type: 'POST',
            url: _url,
            async: false,
            contentType: 'application/json; charset=utf-8',
            data: _data,
            dataType: 'json',
            success: function (result) {
                if (result.Durum) {
                    alert("Fatura başarıyla düzenlendi");
                }
                else {
                    alert("Başarısız işlem");
                }
            },
            failure: function (er) {
                alert("Hata!!!");
            }
        });
        location.reload();
    });

    $("#btnSil").click(function () {
        var selectedRows = getRowSelections();
        $.each(selectedRows, function (index, value) {
            selectedItems = value.ObjectID;
        });

        var _url = webUrl + "Fatura/Fatura_Sil_Id";
        _url += "?refID=" + selectedItems + "&kullaniciAd=" + kulAd + "&sifre=" + sifre;

        $.ajax({
            type: 'POST',
            url: _url,
            dataType: 'json',
            contentType: 'application/ json; charset = utf - 8',
            success: function (result) {
                console.log(result.Durum);
                if (result.Durum) {
                    alert("Fatura Silindi.");
                }
                else {
                    alert("Fatura Silinemedi");
                }
            },
            failure: function (er) {
                alert("Hata!!!");
            }
        });
        location.reload();

    });

    function Fatura_Bilgiler() {
        var _url = webUrl + "Fatura/Fatura_Listele_Iliskisel";

        $.ajax({
            type: 'GET',
            url: _url,
            data: { kullaniciAd: kulAd, sifre: sifre },
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            async: false,
            success: function (result) {
                if (result != null && result.Durum && result.Liste != null && result.Liste.length > 0) {
                    console.log(result.Liste);
                    $("#example1").bootstrapTable('append', result.Liste);
                    $("#example1").bootstrapTable({data: result.Liste});
                }
            },
            failure: function (er) {
            }
        });
    }

</script>