@model ABONE
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Aboneler</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Abone</a></li>
                    <li class="breadcrumb-item active">Index</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- /.card -->
                <div class="card">
                    <div class="card-header">
                        <a href="/Admin/Abone/Ekle" class="card-title btn btn-primary mr-2"><i class="fas fa-plus"></i> Abone Ekle </a>
                        <a class="card-title btn btn-warning mr-2" type="button" data-toggle="modal" data-target="#exampleModal" id="btnDuzenle"><i class="fas fa-minus"></i> Abone Düzenle </a>
                        <a class="card-title btn btn-danger mr-2" type="button" id="btnSil"><i class="fas fa-minus"></i> Abone Sil </a>
                    </div>
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped" data-toggle="table" data-pagination="false" data-sortable="true"
                               data-single-select="true" data-click-to-select="true" data-sort-class="table-active" data-buttons-class="info">
                            <thead>
                                <tr>
                                    <th data-field="durum" data-checkbox="true"></th>
                                    <th data-field="Kullanici.Kulad">abone kişi</th>
                                    <th data-field="AdSoyad">ad soyad</th>
                                    <th data-field="TelefonNo">telefon no</th>
                                    <th data-field="Eposta">e posta</th>
                                    <th data-field="TcKimlikNO">T.C.kimlik no</th>
                                    <th data-field="AboneNo">abone no</th>
                                    @*<th>işlemler</th>*@
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Abone Düzenle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formDuzenleAbone">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ObjectID" />
                    <input type="hidden" asp-for="KulID" />
                    <div class="form-group">
                        <label asp-for="Kullanici.Kulad" class="control-label"></label>
                        <input id="Kulad" asp-for="Kullanici.Kulad" class="form-control" readonly />
                        <span asp-validation-for="Kullanici.Kulad" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="AboneNo" class="control-label"></label>
                        <input asp-for="AboneNo" class="form-control" readonly />
                        <span asp-validation-for="AboneNo" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="AdSoyad" class="control-label"></label>
                        <input asp-for="AdSoyad" class="form-control" />
                        <span asp-validation-for="AdSoyad" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="TelefonNo" class="control-label"></label>
                        <input asp-for="TelefonNo" class="form-control" />
                        <span asp-validation-for="TelefonNo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Eposta" class="control-label"></label>
                        <input asp-for="Eposta" class="form-control" />
                        <span asp-validation-for="Eposta" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TcKimlikNO" class="control-label"></label>
                        <input asp-for="TcKimlikNO" class="form-control" />
                        <span asp-validation-for="TcKimlikNO" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="button" id="btnDuzenleKaydet" value="Kaydet" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/lib/Jquery-SerializeJSON/jquery.serializejson.js"></script>


<script type="text/javascript">
    var webUrl;
    var kulAd;
    var sifre;

    $(document).ready(function () {
        webUrl = '@ViewBag.webUrl';
        kulAd = "asd";
        sifre = "asd";

        Abone_Bilgiler();
    });

    function getRowSelections() {
        return $.map($("#example1").bootstrapTable('getSelections'), function (row) {
            return row;
        });
    }

    $("#btnDuzenle").click(function () {
        var selectedRows = getRowSelections();
        $.each(selectedRows, function (index, value) {
            selectedItems = value.ObjectID;
        });

        var _url = webUrl + "Abone/Abone_Getir_Iliskisel"
        _url += "?kulAd=" + kulAd + "&sifre=" + sifre;

        $.ajax({
            type: "GET",
            url: _url,
            data: { refId: selectedItems },
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                console.log(result);
                $("#ObjectID").val(result.Nesne.ObjectID);
                $("#KulID").val(result.Nesne.Kullanici.ObjectID);
                $("#Kulad").val(result.Nesne.Kullanici.Kulad);
                $("#AboneNo").val(result.Nesne.AboneNo);
                $("#AdSoyad").val(result.Nesne.AdSoyad);
                $("#TelefonNo").val(result.Nesne.TelefonNo);
                $("#Eposta").val(result.Nesne.Eposta);
                $("#TcKimlikNO").val(result.Nesne.TcKimlikNO);
            },
            failure: function(er) {
            }
        });
    });

    $("#btnDuzenleKaydet").click(function () {

        var _url = webUrl + "Abone/Abone_Duzelt";
        _url += "?kulAd=" + kulAd + "&sifre=" + sifre;

        var formData = $("#formDuzenleAbone");
        var _data = JSON.stringify(formData.serializeJSON());

        console.log(_data);
        $.ajax({
            type: 'POST',
            url: _url,
            async: false,
            contentType: 'application/json; charset=utf-8',
            data: _data,
            dataType: 'json',
            success: function (result) {
                if (result.Durum) {

                  alert("Abone Başarılıyla Güncellendi");
                }
                else {
                    alert("Hatalı İşlem");
                }
            },

          failure: function (er) {
              alert("hatali işlem...")
          }

        });
        location.reload();
    });

    $("#btnSil").click(function () {
        var selectedRows = getRowSelections();
        $.each(selectedRows, function (index, value) {
            selectedItems = value.ObjectID;
        });

        var _url = webUrl + "Abone/Abone_Sil_Id";
        _url += "?_refID=" + selectedItems + "&kulAd=" + kulAd + "&sifre=" + sifre;

        $.ajax({
            type: 'POST',
            url: _url,
            dataType: 'json',
            contentType: 'application/ json; charset = utf - 8',
            success: function (result) {
                if (result.Durum) {
                    alert("Silindi.");
                }
                else {
                    alert("Silinemedi");
                }
            },
            failure: function (er) {
                alert("Hata!!!");
            }
        });
        location.reload();

    });

    function Abone_Bilgiler() {
        var _url = webUrl + "Abone/Abone_Listele_Iliskisel";

        $.ajax({
            type: 'GET',
            url: _url,
            data: { kulAd: kulAd, sifre: sifre },
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            async: false,
            success: function (result) {
                if (result != null && result.Durum && result.Liste != null && result.Liste.length > 0) {

                    console.log(result.Liste);

                    $("#example1").bootstrapTable('append', result.Liste);
                    $("#example1").bootstrapTable({data: result.Liste});


                }
            },
            failure: function (er) {
            }
        });
    }



</script>