@model TAHSILAT
@{

    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Tahsilat İşlemler</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Tahsilat</a></li>
                    <li class="breadcrumb-item active">Index</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- /.card -->
                <div class="card">
                    <div class="card-header">
                        <a class="card-title btn btn-primary mr-2" type="button" data-toggle="modal" data-target="#exampleModalTahsilEt" id="btnTahsilET"> Tahsilat Et</a>
                        @* <a class="card-title btn btn-warning mr-2" type="button" data-toggle="modal" data-target="#exampleModal" id="btnDuzenle"><i class="fas fa-minus"></i> Fatura Düzenle </a>*@
                        <a class="card-title btn btn-warning mr-2" type="button" data-toggle="modal" data-target="#exampleModal" id="btnDuzenle"> Tahsilat Düzenle </a>
                        <a class="card-title btn btn-danger mr-2" type="button" id="btnTahsilatSil"><i class="fas fa-minus"></i> Tahsilat Sil </a>
                    </div>
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped" data-toggle="table" data-pagination="false" data-sortable="true"
                               data-single-select="true" data-click-to-select="true" data-sort-class="table-active" data-buttons-class="info">
                            <thead>
                                <tr>
                                    <th data-field="durum" data-checkbox="true"></th>
                                    <th data-field="Abone.AboneNo">Abone numarası</th>
                                    <th data-field="Fatura.FaturaNo">Fatura numarası</th>
                                    <th data-field="TahTarhi">Tahsilat Tarihi</th>
                                    <th data-field="TahTutar">Tahsilat Tutarı</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>


<div class="modal fade" id="exampleModalTahsilEt" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tahsilat Oluştur</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formTahsilatEkle">
                    @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
                    @*<input type="hidden" asp-for="ObjectID" class="form-control" />*@
                    <input type="hidden" asp-for="Abone" class="form-control" />
                    <input type="hidden" asp-for="Fatura" class="form-control" />

                    <div class="form-group">
                        <label asp-for="AboneID">Abone</label>
                        <select type="text" asp-for="AboneID" data-live-search="true" class="form-control selectpicker" id="Aboneler">
                            <option value="0">Abone Seçiniz...</option>
                        </select>
                        <span asp-validation-for="AboneID"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="FaturaID">Fatura</label>
                        <select type="text" asp-for="FaturaID" data-live-search="true" class="form-control selectpicker" id="Faturalar">
                            <option value="0">Fatura Seçiniz...</option>
                        </select>
                        <span asp-validation-for="FaturaID"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="TahTarhi" class="control-label"></label>
                        <input asp-for="TahTarhi" class="form-control" />
                        <span asp-validation-for="TahTarhi" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TahTutar" class="control-label"></label>
                        <input id="TahsilatTutar" asp-for="TahTutar" class="form-control" />
                        <span asp-validation-for="TahTutar" class="text-danger"></span>
                    </div>
                    @*<div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Durum" /> @Html.DisplayNameFor(model => model.Durum)
                            </label>
                        </div>*@
                    <div class="form-group">
                        <input id="btnTahsilatKaydet" type="button" value="Kaydet" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tahsilat Düzenle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formTahsilatDuzlet">
                   
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    
                    <input type="hidden" asp-for="ObjectID" class="form-control" />
                    <input type="hidden" asp-for="AboneID" class="form-control" />
                    <input type="hidden" asp-for="FaturaID" class="form-control" />


                    <div class="form-group">
                        <label asp-for="Abone.AboneNo" class="control-label"></label>
                        <input readonly asp-for="Abone.AboneNo" class="form-control" id="AboneNo" />
                        <span asp-validation-for="Abone.AboneNo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Fatura.FaturaNo" class="control-label"></label>
                        <input readonly asp-for="Fatura.FaturaNo" class="form-control" id="FaturaNo"/>
                        <span asp-validation-for="Fatura.FaturaNo" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="TahTarhi" class="control-label"></label>
                        <input asp-for="TahTarhi" class="form-control" id="Tarih"/>
                        <span asp-validation-for="TahTarhi" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TahTutar" class="control-label"></label>
                        <input asp-for="TahTutar"  class="form-control" id="TahTutar" />
                        <span asp-validation-for="TahTutar" class="text-danger"></span>
                    </div>

                    @*<div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Durum" /> @Html.DisplayNameFor(model => model.Durum)
                        </label>
                    </div>*@

                    <div class="form-group">
                        <input id="btnDuzenleKaydet" type="button" value="Düzelt" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/lib/Jquery-SerializeJSON/jquery.serializejson.js"></script>

<script type="text/javascript">
    var webUrl;
    var kulAd;
    var sifre;

    $(document).ready(function () {
        webUrl = '@ViewBag.webUrl';
        kulAd = "asd";
        sifre = "asd";

        Abone_Doldur();
        Tahsilat_Bilgiler();

        $("#Aboneler").change(function () {
            var abone_ID = $("#Aboneler").val();
            console.log(abone_ID);
            Abone_Fatura_Doldur(abone_ID)
        });

        $("#Faturalar").change(function () {
            var fatura_id = $("#Faturalar").val();
            Input_Doldur(fatura_id);
        });
    });
    function getRowSelections() {
        return $.map($("#example1").bootstrapTable('getSelections'), function (row) {
            return row;
        });
    }
    $("#btnDuzenle").click(function () {
        var selectedRows = getRowSelections();
        $.each(selectedRows, function (index, value) {
            selectedItems = value.ObjectID;
        });

        var _url = webUrl + "Tahsilat/Tahsilat_Getir_Iliskisel"
        _url += "?kullaniciAd=" + kulAd + "&sifre=" + sifre;
        $.ajax({
            type: "GET",
            url: _url,
            data: { _refID: selectedItems/*, kullaniciAd: kulAd, sifre: sifre */},
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                console.log(result);
                $("#ObjectID").val(result.Nesne.ObjectID);
                $("#FaturaID").val(result.Nesne.Fatura.ObjectID);
                $("#AboneID").val(result.Nesne.Abone.ObjectID);
                $("#AboneNo").val(result.Nesne.Abone.AboneNo);
                $("#FaturaNo").val(result.Nesne.Fatura.FaturaNo);
                $("#Tarih").val(result.Nesne.TahTarhi);
                $("#TahTutar").val(result.Nesne.TahTutar);
            },
            failure: function (er) {
            }
        });
    });
    $("#btnDuzenleKaydet").click(function () {

        var _url = webUrl + "Tahsilat/Tahsilat_Duzenle";
        _url += "?kullaniciAd=" + kulAd + "&sifre=" + sifre;

        var formData = $("#formTahsilatDuzlet");
        var _data = JSON.stringify(formData.serializeJSON());

        console.log(_data);
        $.ajax({
            type: 'POST',
            url: _url,
            async: false,
            contentType: 'application/json; charset=utf-8',
            data: _data,
            dataType: 'json',
            success: function (result) {
                if (result.Durum) {

                    alert("Tahsilat Başarılıyla Güncellendi");
                }
                else {
                    alert("Hatalı İşlem");
                }
            },

            failure: function (er) {
                alert("hatali işlem...")
            }
        });
        
     location.reload();
    });

    $("#btnTahsilatKaydet").click(function () {

        var _url = webUrl + "Tahsilat/Tahsilat_Et";
        _url += "?kullaniciAd" + kulAd + "&sifre" + sifre;

        console.log($("AboneNo"));

        var formData = $("#formTahsilatEkle");
        var _data = JSON.stringify(formData.serializeJSON());
        console.log(_data);
        $.ajax({
            async: false,
            url: _url,
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: _data,
            dataType: 'json',
            success: function (result) {
                if (result.Durum) {
                    alert("Tahsilat başarıyla eklendi.");
                }
                else {
                    alert("Başarısız işlem.");
                }
            },
            failure: function (er) {
                alert("Hata!!!");
            }
        });
        location.reload();
    });

    $("#btnTahsilatSil").click(function () {

        var selectedRows = getRowSelections();
        $.each(selectedRows, function (index, value) {
            selectedItems = value.ObjectID;
        });
        var _url = webUrl + "Tahsilat/Tahsilat_Sil_Id";
        _url += "?_refID=" + selectedItems + "&kullaniciAd=" + kulAd + "&sifre=" + sifre;

        $.ajax({
            type: 'POST',
            url: _url,
            dataType: 'json',
            contentType: 'application/ json; charset = utf - 8',
            success: function (result) {
                if (result.Durum) {
                    alert("Silindi.");
                }
                else {
                    alert("Silinemedi");
                }
            },
            failure: function (er) {
                alert("Hata!!!");
            }
        });
        location.reload();
    });


  

    function Input_Doldur(fatura_id) {
        var _url = webUrl + "Fatura/Fatura_Getir";
        //_url += "?_refID=" + aboneID + "&kullaniciAd=" + kulAd + "&sifre=" + sifre;
        _url += "?kullaniciAd=" + kulAd + "&sifre=" + sifre;
        $.ajax({
            type: 'GET',
            url: _url,
            data: { _refID: fatura_id },
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            async: false,
            success: function (result) {
                if (result != null && result.Durum && result.Liste != null && result.Liste.length > 0) {
                    $("#TahTutar").val(result.FaturaTutari);
                    $("#SonOdemeTarihi").val(result.FaturaSonOdemeTarih);
                }
            },
            failure: function (er) {
            }
        });
    };

    function Abone_Fatura_Doldur(aboneID) {
        $("#Faturalar").empty();

        var _url = webUrl + "Fatura/Fatura_Getir_AboneID_Iliskisel";
        //_url += "?_refID=" + aboneID + "&kullaniciAd=" + kulAd + "&sifre=" + sifre;
        _url += "?kullaniciAd=" + kulAd + "&sifre=" + sifre;
        $.ajax({
            type: 'GET',
            url: _url,
            data: { _refID: aboneID },
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            async: false,
            success: function (result) {
                if (result != null && result.Durum && result.Liste != null && result.Liste.length > 0) {
                    for (var j = 0; j < result.Liste.length; j++) {
                        $('#Faturalar').append($('<option>', { value: result.Liste[j]["ObjectID"], text: result.Liste[j]["FaturaNo"] }));
                    }
                }
                $('#Faturalar').selectpicker('refresh');
            },
            failure: function (er) {
            }
        });
    };

    function Abone_Doldur() {
        var _url = webUrl + "Abone/Abone_Liste";

        $.ajax({
            type: 'GET',
            url: _url,
            data: { kulAd: kulAd, sifre: sifre },
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            async: false,
            success: function (result) {
                if (result != null && result.Durum && result.Liste != null && result.Liste.length > 0) {
                    for (var j = 0; j < result.Liste.length; j++) {
                        $('#Aboneler').append($('<option>', { value: result.Liste[j]["ObjectID"], text: result.Liste[j]["AboneNo"] }));
                    }
                }
                $('#Aboneler').selectpicker('refresh');
            },
            failure: function (er) {
            }
        });
    };

    function Tahsilat_Bilgiler() {

        var _url = webUrl + "Tahsilat/Tahsilat_Listele_Iliskisel";
        $.ajax({
            type: 'GET',
            url: _url,
            data: { kullaniciAd: kulAd, sifre: sifre },
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            async: false,
            success: function (result) {
                console.log(result)
               if (result != null && result.Durum && result.Liste != null && result.Liste.length > 0) {
                    $("#example1").bootstrapTable('append', result.Liste);
                    $("#example1").bootstrapTable({ data: result.Liste });
                }
            },
            failure: function (er) {
            }
        });
    }

</script>